.athlete_card{
    border: none;
    margin-bottom: '0.1rem';
    display: flex;
  justify-content: space-between;
    
}

.header{
    font-size: 14px;
    text-align-last: center;
}

.header:hover {
    background-color: #ddedf7!important;
    cursor: pointer;
   
}